.react-chatbot-kit-chat-header {
    background: linear-gradient(45deg, #D96EFF, #4ecdc4) !important;
    color: white !important;
    font-size: 18px !important;
    font-weight: bold !important;
    text-align: center !important;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2) !important;
}
.react-chatbot-kit-chat-message-container::-webkit-scrollbar {
    display: none;
}
.react-chatbot-kit-chat-bot-message {
    background: linear-gradient(45deg, #D96EFF, #4ecdc4) !important;
    margin-bottom: 10px !important;
}
.react-chatbot-kit-chat-btn-send {
    background: linear-gradient(45deg, #D96EFF, #4ecdc4) !important;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.react-chatbot-kit-chat-input-form button:hover {
    opacity: 0.5;
}
.react-chatbot-kit-chat-container::-webkit-scrollbar {
    display: none;
}
.react-chatbot-kit-user-chat-message{
    background: linear-gradient(45deg, #D96EFF, #4ecdc4);
    color: white !important;
    word-break: break-all;
}
.react-chatbot-kit-chat-bot-avatar-container {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    background-image: url("../public/ChatBotAvatar.png");
}
.react-chatbot-kit-chat-bot-avatar-letter{
    display: none;
}
.react-chatbot-kit-chat-input::placeholder {
    opacity: 0.3;
}
.react-chatbot-kit-chat-bot-message-arrow {
    border-right: 8px solid #D96EFF!important;
}
.react-chatbot-kit-user-chat-message-arrow{
    border-left: 8px solid #4ecdc4!important;
}



